.connectBt {
    -fx-text-fill: #008000;
}
.closeConnectBt {
    -fx-text-fill: #B22222;
}

.box {
    -fx-border-color: #808080;
    -fx-background-color: #a6a6a6;
}

.connectionBox {
}

.status {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.serverOutput {
    -fx-text-fill: white;
    -fx-background-color: black;
}

.serverOutput .scroll-pane {
    -fx-background-color: transparent;
}

.serverOutput .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.serverOutput .scroll-pane .content{
    -fx-background-color: transparent;
}
