.ticTacToeButton{
    -fx-focus-color: transparent;
    -fx-background-insets: -1, 0, 1, 1;
    -fx-font-weight: bold;
    -fx-font-size: 35;
    -fx-text-fill: black;
}

.statusBox {
    -fx-background-color: #696969;
}

.actionLabel{
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.statusLabel {
    -fx-text-fill: yellow;
    -fx-label-padding: 5;
    -fx-font-size: 25;
}